:root {
    --dark-jungle-green: #0D2626;
    --dark-slate-gray: #275459;
    --jelly-bean-blue:#46858C;
    --bakelit-gold:#D9965B;
    --afterglow:#F2CC85;
}
* {
    font-family: 'Exo 2', sans-serif;
    color: var(--bakelit-gold)
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
}

html {
    scroll-behavior: smooth;    
}

main {
    height: 100vh;
}
header {
    margin: 0;
}
main, .card {
    background-color: var(--dark-slate-gray);
}

.jumbotron {
    text-align: center;
    border-radius: 0;
    border-bottom: 10px solid black;
    height:100vh;
    background-color: var(--bakelit-gold);
}

.jumbotron h1 {
color: var(--dark-slate-gray);
}
.jumbotron .btn {
    min-width: 15em;
    background-color: var(--jelly-bean-blue);
    border-color: var(--dark-jungle-green);
    color: var(--afterglow);
    box-shadow: 5px 5px var(--dark-jungle-green);
}
.jumbotron .lead, 
.jumbotron .lead em,
.jumbotron .lead strong {
    color: var(--dark-jungle-green);
}
.description {
    white-space: pre-wrap;
}

#page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-bottom: 2em;
    background-color:var(--dark-jungle-green);
    color: var(--afterglow);
}

main .btn {
    background-color: var(--jelly-bean-blue);
    border-color: var(--dark-jungle-green);
    box-shadow: 2px 2px var(--dark-jungle-green);
}
.card {
    border: none;
}

#search-results, 
#fiveDayResults .card {
    border: 1px solid var(--afterglow);
    border-radius: .25rem;
}



.badge {
    font-weight: 500;
    margin-left: 0.5em;
}

.uv-low {
    background-color: #8EBF45;
    color: var(--dark-jungle-green);
}
.uv-med {
    background-color: #FDD835;
    color: var(--dark-jungle-green);
}
.uv-high {
    background-color: #FFB301;
}
.uv-vhigh {
    background-color: #D1394A;
    color:#ffffff ; 
}
.uv-extreme {
    background-color: #954F71;
    color:#ffffff ; 
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {     
    .card-title {
    font-size: .8em;
} }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { ... }
